<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
	</div>

</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Salmon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h1 class="text-muted text-center">MonSalmon</h1>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Anatomy", salmon_anatomy_path%></li>
          <li><%= link_to "Scientific", salmon_scientific_path%></li>
          <li><%= link_to "Habitat", salmon_habitat_path%></li>
          <li><%= link_to "Behaviour", salmon_behaviour_path%></li>
          <li><%= link_to "Diet", salmon_diet_path%></li>
          <li><%= link_to "Reproduction", salmon_reproduction_path%></li>
          <li><%= link_to "Photo", public_photos_path%></li>
          <li><%= link_to "Search", search_pages_path%></li>          
        </ul>
      </div>
      <div class="component"> 
      	<%=yield%>
      </div>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <div class="github-fork-ribbon-wrapper left">
        <div class="github-fork-ribbon">
            <a href="https://github.com/barock19/salmon">Fork me on GitHub</a>
        </div>
    </div>

  </body>
</html>
