<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
	</div>

</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Salmon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">MonSalmon</h3>
        <ul class="nav nav-justified">
          <li><%= link_to "Home", root_path%></li>
          <li><%= link_to "Anatomy", salmon_anatomy_path%></li>
          <li><%= link_to "Scientific", salmon_scientific_path%></li>
          <li><%= link_to "Habitat", salmon_habitat_path%></li>
          <li><%= link_to "Behaviour", salmon_behaviour_path%></li>
          <li><%= link_to "Diet", salmon_diet_path%></li>
          <li><%= link_to "Reproduction", salmon_reproduction_path%></li>
        </ul>
      </div>
      <div class="component"> 
      	<%=yield%>
      </div>


      <!-- Site footer -->
      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
