<!-- <!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div class="container">
	</div>

</body>
</html>
 -->

<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Salmon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container">

      <div class="masthead">
        <h3 class="text-muted">
        <%= image_tag 'salmon.png' %>
        <%= link_to "MonSalmon", root_path %></h3>
        
        <ul class="nav nav-justified">          
          <% Page.all.each do |p| %>
            <li><%= link_to p.title, p %></li>
          <% end %>
          <li><%= link_to "Photo",  public_photos_path %></li>
          <li><%= link_to "Search",  search_pages_path %></li> 
          <li> <a href="/company/contact">Contact</a> </li>
        </ul>
      </div>
      <div class="component"> 
      	<%=yield%>
      </div>


      <!-- Site footer -->
      <div class="footer">
        <div class="row">
          <div class="col-lg-6">
            <p>&copy; Antimainstream Inc 2013 </p>
          </div>
          <div class="col-lg-6">
            <p class="text-right">
            <a href="/">Home</a> | <a href="/pages/7">About us</a> | <a href="/company/contact">Contact</a>  </p>

          </div>

        </div>

        

      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      <div class="github-fork-ribbon-wrapper left-bottom">
        <div class="github-fork-ribbon">
            <a href="https://github.com/barock19/salmon">Fork me on GitHub</a>
        </div>
    </div>

  </body>
</html>
